<link class="skin" rel="stylesheet" type="text/css" href="/assets/css/skin/skin-2.css">
<div class="page-wraper">
	<app-header-two></app-header-two>
	<div class="page-content bg-white">
	<app-slider-two></app-slider-two>
	    <div class="content-block">
			<app-about-two></app-about-two>
			<app-service-two></app-service-two>
			<app-work-two></app-work-two>
			<app-team-two></app-team-two>
			<app-blog-two></app-blog-two>
			<app-testimonial-two></app-testimonial-two>
		</div>
	</div>
	<app-footer-two></app-footer-two>
	<button class="scroltop style1 radius" type="button"><i class="fa fa-arrow-up"></i></button>
</div>
