<!-- header -->
    <header class="site-header mo-left header-transparent header agro-header">
		<!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix ">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
						<a routerLink="/"><img src="assets/images/logo-4.png" alt=""></a>
					</div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
                    <!-- extra nav -->
                    <div class="extra-nav">
                        <div class="extra-cell">
							<a  routerLink="/contact-page" id="" class="site-button white align-self-center outline ml-auto outline-2 btnhover14">Contact</a>&ensp;&ensp;
						</div>
						<div class="extra-cell">
							<a  routerLink="/" id="" class="site-button white align-self-center outline ml-auto outline-2 btnhover14">S'identifier</a>&ensp;&ensp;
						</div>
                    </div>
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-center onepage" id="navbarNavDropdown">
						<div class="logo-header d-md-block d-lg-none">
							<a  routerLink="/"><img src="assets/images/logo-4.png" alt=""></a>
						</div>
						<ul class="nav navbar-nav navbar">	
							<li><a href="#about-us" class="scroll nav-link active" id="kelmafou9">Qui sommes nous ?</a>
								<ul class="sub-menu">
									<li><a [routerLink] = "''">BESTRADE ? </a></li>
									<li><a [routerLink] = "'/mission-page'">Mission</a></li>
									<li><a [routerLink] = "'/'">Equipe </a></li>
									<li><a [routerLink] = "'/'">avantages</a></li>
									<li><a [routerLink] = "'/'">Partenaires</a></li>
								</ul>
							</li>
							
							<li><a href="#services" class="scroll nav-link" id="kelmafou9">Services</a>
								<ul class="sub-menu">
									<li><a [routerLink] = "''">Gestion des dossiers</a></li>
									<li><a [routerLink] = "'/'">Gestion des operations</a></li>
									<li><a [routerLink] = "'/'">Gestion de réseaux </a></li>
									<li><a [routerLink] = "'/'">Tarifs</a></li>
									<li><a [routerLink] = "'/'">Démmarer avec BesTrade</a></li>
                               </ul>
							</li>
							<!-- <li><a href="#stats" class="scroll nav-link" id="kelmafou9">Services</a></li> -->

							
							<li><a href="#services" class="scroll nav-link" id="kelmafou9">Prestataire</a>
								<ul class="sub-menu">
									<li><a [routerLink] = "'/index-solar-plant'">Liste des prestataires</a></li>
									<li><a [routerLink] = "'/index-solar-plant'">Devenir prestataire </a></li>
                               </ul></li>
							<li><a href="#team" class="scroll nav-link" id="kelmafou9">Importeur/Exportateur</a>
								<ul class="sub-menu">
									<li><a [routerLink] = "'/index-solar-plant'">Liste des entreprises</a></li>
									<li><a [routerLink] = "'/index-solar-plant'">Devenir Bestrader</a></li>
                               </ul>
							</li>
							<li><a href="#team" class="scroll nav-link" id="kelmafou9">Informations utiles</a>
								<ul class="sub-menu">
								<li><a [routerLink] = "'/index-solar-plant'">Glossaire de commerce international</a></li>
								<li><a [routerLink] = "'/index-solar-plant'">Textes réglementaires de commerce international - Tunisie</a></li>
								<li><a [routerLink] = "'/index-solar-plant'">Textes réglementaires de commerce international - Autre</a></li>
								<li><a [routerLink] = "'/index-solar-plant'">Formulaires de commerce international - Autre</a></li>
								<li><a [routerLink] = "'/index-solar-plant'">Procedures de commerce international - Tunisie</a></li>
								<li><a [routerLink] = "'/index-solar-plant'">Procedures de commerce international - Autre</a></li>
						       </ul>	
							</li>
							
						</ul>
						<div class="dlab-social-icon">
							<ul>
								<li><a class="site-button facebook sharp-sm fa fa-facebook" href="javascript:void(0);"></a></li>
								<li><a class="site-button twitter sharp-sm fa fa-twitter" href="javascript:void(0);"></a></li>
								<li><a class="site-button linkedin sharp-sm fa fa-linkedin" href="javascript:void(0);"></a></li>
								<li><a class="site-button instagram sharp-sm fa fa-instagram" href="javascript:void(0);"></a></li>
							</ul>
						</div>			
                    </div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
