<link class="skin" rel="stylesheet" type="text/css" href="/assets/css/skin/skin-3.css">
<div class="page-wraper">
	<app-header-three></app-header-three>
	<div class="page-content bg-white">
	<app-slider-three></app-slider-three>
	    <div class="content-block">
			<app-service-three></app-service-three>
			<app-about-three></app-about-three>
			<app-testimonial-three></app-testimonial-three>
			<app-team-three></app-team-three>
			<app-blog-three></app-blog-three>
		</div>
	</div>
	<app-footer-three></app-footer-three>
	<button class="scroltop style1 radius white" type="button"><i class="fa fa-arrow-up"></i></button>
</div>
