<link class="skin" rel="stylesheet" type="text/css" href="/assets/css/skin/skin-4.css">
<div id="bg" class="frame-box">
	<div class="page-wraper">
		<app-header-five></app-header-five>
		<div class="page-content area-frame">
			<div class="container">
			<app-slider-five></app-slider-five>
				<div class="content-block">
					<app-about-five></app-about-five>
					<app-work-three></app-work-three>
					<app-testimonial-five></app-testimonial-five>
					<app-team-five></app-team-five>
					<app-blog-four [data]="slideStore"></app-blog-four>
				</div>
			</div>
		</div>
		<app-footer-five></app-footer-five>
	</div>
	<button class="scroltop style3 radius" type="button"><i class="fa fa-arrow-up"></i></button>
	<div class="bg-wind" id="solarParticles">
		<div class="bg-wind-bx">
			<img src="assets/images/background/solar/wind-pic1.png" alt=""/>
			<div class="wind-rotate"><img src="assets/images/background/solar/wind-pic2.png" alt=""/></div>
		</div>	
		<div class="bg-wind-bx wind-bx-2">
			<img src="assets/images/background/solar/wind-pic1.png" alt=""/>
			<div class="wind-rotate"><img src="assets/images/background/solar/wind-pic2.png" alt=""/></div>
		</div>	
		<div class="bg-wind-bx wind-bx-3">
			<img src="assets/images/background/solar/wind-pic1.png" alt=""/>
			<div class="wind-rotate"><img src="assets/images/background/solar/wind-pic2.png" alt=""/></div>
		</div>	
	</div>	
</div>
