<div class="page-wraper">
	<app-header-four></app-header-four>
	<!-- Content -->
    <div class="page-content bg-white">
		<app-slider-one></app-slider-one>
		<div class="content-block">
			<app-call-action-one></app-call-action-one>
			<app-about-four></app-about-four>
			<app-service-four></app-service-four>
			<!--<app-work-four></app-work-four>-->
			<app-team-four></app-team-four>
			<app-testimonial-four></app-testimonial-four>
			<app-blog-four [data]="slideStore"></app-blog-four>
			<app-call-action-two [data]="theme"></app-call-action-two>
		</div>
	</div>
	<app-footer-four></app-footer-four>
	<button class="scroltop style1 white icon-up" type="button"><i class="fa fa-arrow-up"></i></button>
</div>
