<link class="skin" rel="stylesheet" type="text/css" href="/assets/css/skin/skin-4.css">
<app-header-four [data]="menuList"></app-header-four>
<app-page-header-one [data] = "banner"></app-page-header-one>

<div class="content-block">
	<div class="section-full content-inner">
		<div class="container">
			<!-- blog start -->
			<div class="row">
				<div class="col-lg-8 col-md-12 m-b30">
					<div class="blog-post blog-single">
						<div class="dlab-post-meta m-b20">
							<ul>
								<li class="post-date"> <strong>10 Aug</strong> <span> 2016</span> </li>
								<li class="post-author"> By <a href="javascript:void(0);">Harry</a> </li>
							</ul>
						</div>
						<div class="dlab-post-title">
							<h2 class="post-title m-t0"><a href="javascript:void(0);">Creating quality urban lifestyles, building stronger.</a></h2>
						</div>
						<div class="dlab-post-media dlab-img-effect zoom-slow"> 
							<a href="blog-single.html"><img src="assets/images/blog/default/thum1.jpg" alt=""></a> 
						</div>
						<div class="dlab-post-text">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting  printer a galley Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<blockquote>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Has been the industry's standard text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimencenturies.
								<cite class="quoter">– Jacob Tucker</cite>
							</blockquote>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen It has urvived not only five centuries, but also the leap into electronic typesetting.</p>
							<h4>We hope these sites provide you with valuable insights about the manufacturing industry and its current</h4>
							<img class="alignleft" width="300" src="assets/images/blog/grid/pic4.jpg" alt="">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only        five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<div class="dlab-divider bg-gray-dark"></div>
							<img class="alignright" width="300" src="assets/images/blog/grid/pic1.jpg" alt="">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
						<div class="dlab-post-tags clear">
							<div class="post-tags"> <a href="javascript:void(0);">Child </a> <a href="javascript:void(0);">Eduction </a> <a href="javascript:void(0);">Money </a> <a href="javascript:void(0);">Resturent </a> </div>
						</div>
					</div>
					<app-comments></app-comments>
					<!-- blog END -->
				</div>
				<div class="col-lg-4 col-md-12 m-b30">
					<aside  class="side-bar sticky-top">
						<app-search></app-search>
						<app-recent-post></app-recent-post>
						<app-newsletter></app-newsletter>
						<app-list-items></app-list-items>
						<!-- <div class="widget bg-white p-a20 widget_categories">
							<h5 class="widget-title style-1">Archives</h5>
							<ul>
								<li><a href="javascript:void(0);">January 2019</a> (1)</li>
								<li><a href="javascript:void(0);">Febuary 2019 </a> (6) </li>
								<li><a href="javascript:void(0);">March 2019 </a> (1) </li>
								<li><a href="javascript:void(0);">April 2019 </a> (2) </li>
								<li><a href="javascript:void(0);">May 2019 </a> (7) </li>
								<li><a href="javascript:void(0);">June 2019 </a> (3) </li>
							</ul>
						</div> -->
					</aside>
				</div>
			</div>
		</div>
	</div>
	<!-- Blog End -->
	<div class="section-full p-tb40 bg-primary construct-action" style="background-image: url(assets/images/pattern/pt5.png);">
		<div class="container">
			<div class="row spno">
				<div class="col-sm-6 col-6">
					<a href="#"><i class="las la-envelope-open"></i>Email: info@example.com</a>
				</div>
				<div class="col-sm-6 col-6 text-right">
					<a href="#">Support: 0800-123456<i class="las la-phone-volume"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer-four></app-footer-four>